[submodule ".vim/bundle/gist"]
	path = .vim/bundle/gist
	url = git://github.com/vim-scripts/Gist.vim.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vimrails"]
	path = .vim/bundle/vimrails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = git://github.com/wzzrd/vim-matchit.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
