snippet <! "<!DOCTYPE html>" b
<!DOCTYPE html>$0
endsnippet

snippet html "HTML document" b
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>$1</title>
	</head>

	<body>
		$0
	</body>
</html>
endsnippet

snippet link "<link>" b
<link href="$1" rel="stylesheet">$0
endsnippet

snippet script "<script>" b
<script src="$1"></script>$0
endsnippet
