snippet /enh?/ "enhance" br
@include enhance(${1:breakpoint}${2: until ${3:breakpoint}}) {
	$0
}
endsnippet

snippet deg "degrade" b
@include degrade(${1:breakpoint}${2: until ${3:breakpoint}}) {
	$0
}
endsnippet
